{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
    <h3 style="font-family: 'Lucida Calligraphy'">
        <em>Sample text </em>
    </h3>
    <img class="ui centered rounded massive image"
         src="">
    <br>
    <br>
    <p>
        Created by Weather-Top Inc.
    </p>
</section>
<br>