{{> menu }}
<table class="ui celled padded table">
    <h2>Your Details</h2>
    <thead>
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td data-label="Field">First Name</td>
        <td data-label="Value">{{user.firstName}}</td>
    </tr>
    <tr>
        <td data-label="Field">Last Name</td>
        <td data-label="Value">{{user.lastName}}</td>
    </tr>
    <tr>
        <td data-label="Field">Email</td>
        <td data-label="Value">{{user.email}}</td>
    </tr>
    </tbody>
</table>
{{>edit-user-details}}
<br>